* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    outline: none;
    
  }  
  a{
      cursor: pointer;
  }
  nav {
    background-color: #1a242f;
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
  }
  .logo img {
    height: 70px;
    object-fit: cover;
    width: 150px;
  }
  .rightMenu {
    padding: 25px;
    font-size: 22px;
  }
  .rightMenu a {
    padding: 5px 15px;
    color: rgba(242, 244, 246, 0.9);
  }
  .rightMenu label:hover{
    cursor: pointer;
  }
  .rightMenu a:nth-child(2),
  .rightMenu > a > label {
    font-size: 18px;
    padding: 0px 3px;
  }
  .arrowDown {
    font-size: 12px;
  }
  
  /* SECTION */
  section > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  section {
    position: relative;
    min-width: 320px;
    height: 435px;
    overflow: hidden;
  }
  .textOverImage {
    color: white;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
    box-shadow:  inset 545px 0px 60px 0px black;
    width: 45%;
    /* height: 100%; */
    position: absolute;
    top: 38%;
    left: 27%;
    transform: translate(-50%, -50%);
    /* opacity: 0.5; */
  }
  .textOverImage > h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 100px;
    padding: 20px 0;
  }
  .textOverImage > p {
    font-size: 18px;
    line-height: 23px;
  }
  .textOverImage > p:nth-child(2){
      margin-bottom: 10px;
  }
  .textOverImage > p:nth-child(5){
      font-size: 17px;
    margin-top: 30px;
    }
  .steps{
      font-size: 16px !important;
      margin : 25px 0;
  }
  .steps > span:nth-child(1){
    border: 1px solid white;
    padding: 4px 9px;
    border-radius: 50%;
    background-color: #000000;
  }
  #light{
    color: #b1b1b1;
  }
  .active{
      font-weight: 600;
  }
  .steps > span:nth-child(2){
    padding: 0px 10px;
  }
  .textOverImage > p:nth-child(4) {
    font-size: 15px;
    line-height: 19px;
    margin-top: 12px;
  }
  .textOverImage > p:nth-child(3) > span:nth-child(1){
    background-color: #333 ;
  }
  .textOverImage > button {
    width: 280px;
    background-color: #0f79af;
    font-size: 18px;
    font-weight: 500;
    padding: 14px 22px;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
  }
  .textOverImage > p:last-child{
    width: 280px; 
    font-size: 14px;
    text-align: center;
  }


   /* Footer */

   footer{
    background-color: #191919;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.footerlogo{
    display: flex;
    justify-content: center;
}
.logo span{
    color :rgb(212, 199, 199);
    padding: 0 5px;
    margin-top: 23px;
    margin-left: -25px;
}
.logo span:nth-child(3){
    color :rgb(212, 199, 199);
    font-size: 15px;
    font-weight: bolder;
    opacity: 0.8;
    padding-left: 30px;
}
#footerImage{
    object-fit: contain;
    text-align: center;
}
#copyright{
  display: flex;
  margin: 0 3px;
  opacity: 0.8;
  justify-content: space-around;
}
#copyright > p > a{
    color: #0f79af;
    font-size: 15px;
    margin: 0 5px;
}
.copy{
    text-align: center;
    color: gray;
    font-size: 15px;
    margin: 20px 0;
}